.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teachers .swiper-button-next, .teachers .swiper-button-prev {
  filter: brightness(2);
  top: 89%;
}