.cls-1 {
  fill: #0298e8;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5 {
  stroke-width: 0px;
}

.cls-2 {
  fill: #333232;
}

.cls-3 {
  fill: #0198e8;
}

.cls-4 {
  fill: #323131;
}

.cls-5 {
  fill: transparent;
}
