.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  top: 85%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next {
  background-image: url('../../assets/next-btn.png');
}

.swiper-button-prev {
  background-image: url('../../assets/previous-btn.png');
}

@media (min-width: 917px) {
  .swiper-button-next, .swiper-button-prev {
    display: none !important;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-slide {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-container {
  background: #fff;
  position: relative;
}

.section-container:after {
  content: '';
  position: absolute;
  height: 1.5rem;
  width: 100%;
  top: -1.5rem;
  left: 0;
  background: #fff;
  box-shadow: 0 -3px 7px -2px rgba(0, 0, 0, 0.1);
}

.swiper-learn .swiper-slide {
  flex: 1;
}